<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="../stylesheets/registerShelter.css" rel="stylesheet">
  <title>Sheltair</title>
</head>
<body>
        <section class="cover">
           <div class="register-box"> 
                <h1 style="text-align:center;margin-bottom:15px;">Agrega un Refugio</h1>
            <form action="/registerShelter" method="POST" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombre del refugio:</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Nombre" name="name">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="inputPassword4">Email de contacto</label>
                    <input type="email" class="form-control" id="inputPassword4" placeholder="Email" name="email">
                    </div>
                </div>
                   <div>  <p>
                        La foto de tu refugio:
                        <input type="file" name="photo" required>
                    </p>
                </div>  
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="location[address]">
                </div>
                <div>
                            <p>
                                <input style="display:none" type="text" name="location[coordinates][1]" id="lat" placeholder="NO LLENAR ESTOS CAMPOS" hidden>
                            </p>

                            <p>
                                <input  style="display:none" type="text" name="location[coordinates][0]" id="lng" placeholder="NO LLENAR ESTOS CAMPOS" hidden>
                            </p>
                </div>
                <button style="margin-left:40%;margin-bottom:10px;" type="submit" class="btn btn-primary">Registrar</button>
            </form>
                    

                
                {{!-- <form action="/registerShelter" method="POST" enctype="multipart/form-data">

                    <p>
                        La foto de tu refugio:
                        <input type="file" name="photo" required>
                    </p>

                    <p>
                        Nombre del Refugio:
                        <input type="text" name="name" required>
                    </p>

                    <p>
                        Email de contacto
                        <input type="email" name="email" placeholder="perritos@perritos.com" required>
                    </p>

                    <p>
                        Direccion:
                        <input type="text" name="location[address]" id="address">
                    </p>
                    <p>
                        <input type="text" name="location[coordinates][1]" id="lat" placeholder="NO LLENAR ESTOS CAMPOS" hidden>
                    </p>

                    <p>
                        <input type="text" name="location[coordinates][0]" id="lng" placeholder="NO LLENAR ESTOS CAMPOS" hidden>
                    </p>

                    <input type="submit" value="Crear">

                </form> --}}
            </div>
        </section>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeU5wvSFhoHGD1YkXYnGh6DjskJp-LkRI&libraries=places"></script>

<script>

let address = document.getElementById('address') 
let lat = document.getElementById('lat')
let lng = document.getElementById('lng')


function autoComplete(input, inputLat, inputLng){
  const dropdown = new google.maps.places.Autocomplete(input)

  dropdown.addListener('place_changed', ()=>{
    let place = dropdown.getPlace()
    console.log(place)
    lat.value = place.geometry.location.lat()
    lng.value = place.geometry.location.lng()
  })
}

autoComplete(address, lat, lng)

</script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{{!-- <script>
    var account = document.getElementById('dropdown');
        account.innerText= "{{name}}"
</script> --}}

</body>
</html>


