

.hova:hover {
  color:blue;
}

.color {
  color:white;
}

.papi {
  width:80%;
  background-size:cover;
  margin-left:130px;
  margin-top:70px;
  
 
}

.car {
  height:600px;
}

.logo {
    width:40%; 
}

.arriba {
  padding-bottom:100px;
}

.dad {
  display:flex;
  flex-direction:row;
 
}

.button {
  margin-left:255px;
  width:30%;
  margin-top:30px;
  background-color:#282828;
  color:white;

}
.button2 {
  margin-left:30px;
  width:100%;
  margin-top:30px;
  color:white;
  background-color:#282828;
}


/* .divider {
  width:100vw;
  margin:0;
  margin-top:0px;
padding-bottom:20px;
  height: 90vh;
  background-color:papayawhip;
  border-bottom:5px solid #002366;
  display:flex;
  justify-content:center;
  flex-direction: row;
  align-items:center;
 
}
.container {
  margin-bottom:70px;
  
}

.col {
  border:4px solid #002366;
  margin-top:20px;
  height:70vh;
  border-radius:5%;
  align-items:center;
  display:flex;
  flex-direction: column;
  
}
.col2 {
  
  margin-left:20px;
  margin-right:50px;
}
.col1 {
  margin-right:20px;
  margin-left:50px;
}

.col h3 {
  text-align:center;
  margin-top:15px;
  padding-bottom:15px;
  border-bottom:2px solid #002366;
  font-size:2em;
}

.img1 {
    width:30%;
    margin-top:25px;
    margin-bottom:15px;
   
}
.img2 {
    width:35%;
    margin-top:20px;
  
}

.container p {
  font-weight:bold;
  margin-top:30px;
  width:80%;
  text-align: center;
  font-size:1.3em;
   height:100px; */
  


/* .arrow {
  width: 30px;
  height:30px;
  padding-top:-30px;
  position:relative;
  top:300px;
  left:350px;
}

.last-section {
  height:400px;
  width:100vw;
  background-color:darkblue;
} */

/* .last-section h1{
  margin-left:10%;
  padding-top:70px;
  width:80%;
  color:skyblue;
  font-weight:bold;
  font-size:4em;
  text-align:center;
}

footer {
  width:100vw;
  height:100px;
  background-color:skyblue; */
