

section{
  background-color:skyblue;
  
  
}

.listy {
  display:flex;
  justify-content:space-around;
  flex-direction:row;
  flex-wrap:wrap;
}

#list {
  border:2px solid black;
  margin-top:3%;

}

.header {
  text-align:center;
  padding-top:8%;
}

.shelter{
  max-width: 350px;
  max-height: 250px;
  min-width:350px;
  min-height:250px;
  margin:10px;
}
.link {
  margin-left:30%;
  
  
}

.location {
  max-width:250px;
}