body {
  margin: 0 auto;
  padding-left:0;
  font-family: 'Roboto', sans-serif;

}

.dropdown {
  margin-left:900px;
}
.navbar {
  background-color: #002366;
  border-bottom:3px solid black;
  height:50px;
  width:100vw;
}
.navbar img {
  width:8%;
  border-radius:5%;
}

.navbar img:hover {
  cursor: pointer;
}

#cover {
  position:relative;
  width:100vw;
  background-image: url("https://images5.alphacoders.com/338/338108.jpg");
  background-size:cover;
  background-position:0% 50%;
  height:300px;
  background-color:red;
  border-bottom:2px solid #002366; 
 
}
#photo {
position:absolute;
border: 3px solid skyblue;
width:300px;
top:250px;
left:15%;

}

.header {
  margin-top:4%;
  margin-left:14.5%;
}

.bio {

}

.bio-area {
  width:24%;
  height:300px;
  border:2px solid black;
  margin-left:15%;
  margin-top:0;
}

.submit {
  position:absolute;
  right:5%;
  top:38%;
}

.follow-tab {
  background-color:skyblue;
  width:30%;
}
.feed {
  background-color:red;
  width:20%;
  
}