
#cover {
  position:relative;
  width:100vw;
  background-image: url("https://images5.alphacoders.com/338/338108.jpg");
  background-size:cover;
  background-position:0% 50%;
  height:300px;
  background-color:red;
  border-bottom:2px solid #002366; 
 
}
#photo {
position:absolute;
border: 3px solid skyblue;
max-width:300px;
max-height:250px;
min-width:300px;
min-width:300px;
top:250px;
left:15%;


}

.header {
  margin-top:7%;
  margin-left:14.5%;
}

.bio {

}

.bio-area {
  width:24%;
  height:300px;
  border:2px solid #002366;
  margin-left:15%;
  margin-top:0;
  box-shadow: 3px 2px 2px 2px #888888;
}

.submit {
  position:absolute;
  right:5%;
  top:38%;
}

.submit2 {
  position:absolute;
  right:5%;
  top:30%;
  background-color:skyblue;
}

.barra article{
  display: flex;
  max-width: 95%;
  max-height: 70px;
  padding-left: 550px; 
  padding-right:150px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  box-shadow: 3px 2px 2px 2px #888888;
  border-bottom: 1px solid grey; 
  background-color:skyblue;
  
}

.first{
  margin-right:10px;
  margin-top:3%;
}

#fl {
  margin-left:45%;
}
#fl2 {
  margin-left:55%;
  margin-bottom:10px;
}
#fl3 {
  margin-left:65%;
}

.feed {
  text-align:center;
  position:absolute;
  border:3px solid #002366;
  width:40%;
  right:13%;
  margin-top:-350px;
  /* margin-top:20%; */
  height:100vh;
  box-shadow: 3px 2px 2px 2px #888888;
}