.container{
  margin-top:50px;
  margin-bottom:50px;
  width: 400px;
  height: 680px;
  border: 2px solid black;
  border-radius: 5%;
  background-color: white;
  box-shadow: 3px 3px 3px 3px #888888;  
}

.alinear{
  margin-top: 10px;
  margin-left: 130px;
  align-content: center
}

body{
<<<<<<< HEAD
  
=======
  background-color: whitesmoke;
>>>>>>> aa1d16fa5dc487f65b0234764d762c2291049804
  background-size: 100%;
  background-repeat: no-repeat
}


