.container div{
 
}

.container{
  width: 400px;
  height: 600px;
  margin-top: 40px;
  border-radius: 5%;
  background-color: white;
  box-shadow: 3px 3px 3px 3px #888888;
  padding-top: 10px;
}

.alinear{
  margin-top: 20px;
  margin-left: 130px;
  align-content: center
}

body{
  background-color: whitesmoke;
  background-size: 100%;
  background-repeat: no-repeat;
  height:100vh;
}
