
.cover {
  height:100vh;
  width:100vw;
  background-image: url('https://static1.squarespace.com/static/531d3936e4b089910eb9effd/t/5487c368e4b01bcc8b834f48/1418183530237/dog-close-up-wallpaper-39590-40507-hd-wallpapers.jpg?format=1500w');
  background-size:cover;
  

}

.login-box {
  border:5px solid white;
  width:40vw;
  height:70vh;
  background-color:papayawhip;
  text-align:center;
  position:absolute;
  top:15%;
  left:55%;
}

.login-box h1 {
  /* border-bottom:3px solid black; */
}

#email {
  width:30vw;
  margin-top:5%;
}

#password {
  width:25vw;
  margin-top:5%;
  margin-right:5%;
}

#submit {
  margin-top:5%;
  margin-bottom:5%;
}

#fb {
  width:35%;
}
#fb:hover {
  cursor: pointer;
}

#name {
  margin-top:10%;
}

#file {
  border-radius:5%;
}