.container div{
  margin-bottom: 10px;
}
.container{
  width: 400px;
  height: 680px;
  margin-top: 40px;
  border-radius: 5%;
  background-color: white;
  box-shadow: 3px 3px 3px 3px #888888;
  padding-top: 10px;
}

.container img{
  width: 30%;
  align-content: center;
}

.alinear{
  margin-top: 20px;
  margin-left: 130px;
  align-content: center
}
img{
  width: 30%;
  position: absolute;
}

body{
  background-color: whitesmoke;
  background-size: 100%;
  background-repeat: no-repeat;
  height:100vh;
}


/* 
.cover {
  height:100vh;
  width:100vw;
  background-image: url('https://static1.squarespace.com/static/531d3936e4b089910eb9effd/t/5487c368e4b01bcc8b834f48/1418183530237/dog-close-up-wallpaper-39590-40507-hd-wallpapers.jpg?format=1500w');
  background-size:cover;
  

}

.login-box {
  border:5px solid white;
  width:40vw;
  height:70vh;
  background-color:papayawhip;
  text-align:center;
  position:absolute;
  top:15%;
  left:55%;
}

#email {
  width:30vw;
  margin-top:5%;
}

#password {
  width:25vw;
  margin-top:5%;
  margin-right:5%;
}

#submit {
  margin-top:5%;
  margin-bottom:5%;
}


#name {
  margin-top:10%;
}

#file {
  border-radius:5%;
} */