body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  padding-left:0;
}

#map{
  background-color: black;
  width: 600px;
  height: 400px;
  margin-left:220px;
  border:1px solid black;
  margin-bottom:30px;
  margin-top:30px;
  border-radius:5%;
}

.dropdown {
  margin-left:1000px;

 
}
.navbar {
  background-color: #282828;
  /* box-shadow: 3px 3px 3px 3px #888888; */
  width: 100vw;
  height:50px;
  margin-top:0px;
}

.navbar img {
  width:8%;
  border-radius:5%;
}

.navbar img:hover {
  cursor: pointer;
}