{{!-- <h1>Registra tu perro</h1>
<form action="/shelterList/{{_id}}/registerDog" method="POST" enctype="multipart/form-data">
<p>
    Sube la foto del perro:
    <input type="file" name="foto" required>
</p>

<p>
    Introduce la raza, si es criollo deja el campo en blanco:
    <input type="text" name="raza" placeholder="Criollo" required>
</p>

<p>
    La talla del perro:
    <select name="talla">
    <option value="grande">Grande</option>
    <option value="mediana">Mediana</option>
    <option value="chica">Chica</option>
    <option value="mini">Mini</option>
  </select>

</p>

<p>
    Señas Particulares:
    <input type="text" name="señasParticulares" required>
</p>

<p>
    Color:
    <input type="text" name="color" required>
</p>

<p>
    Si no tiene nombre deje en blanco<br>
    Nombre: 
    <input type="text" name="nombre" placeholder="ninguno" required>
</p>

<input type="submit">
</form> --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/stylesheets/registerDog.css" rel="stylesheet">
  <title>Sheltair</title>
</head>
<body>

    


<section class="container">
    <h1>Registra tus peludos</h1>    
<form action="/shelterList/{{_id}}/registerDog" method="POST" enctype="multipart/form-data">
  <div class="container1 form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">La talla de tu perro</label>
    <select class="form-control" name="talla" id="exampleFormControlSelect1">
    <option value="grande">Grande</option>
    <option value="mediana">Mediana</option>
    <option value="chica">Chica</option>
    <option value="mini">Mini</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
</section>

</body>
</html>